* text=auto !eol
/AssemblyException.html -text
Graphics/Thumbs.db -text
Graphics/commiter-review-flow.jpg -text
Graphics/design-flow.jpg -text
Graphics/high-level-full-flow.jpg -text
Graphics/idea-concept-flow.jpg -text
Graphics/implement-and-test-flow.jpg -text
Graphics/implementation-review-and-commit-flow.jpg -text
Graphics/integration-and-system-test-flow.jpg -text
Graphics/phase-overview.jpg -text
Graphics/planning-and-review-flow.jpg -text
alm-process/snippets/page.xml -text
content/Getting_Started_Feature_MR1.pdf -text
content/car.duke.jpeg -text
content/communicate.html -text
content/diagrams/Thumbs.db -text
content/diagrams/commiter-review-flow.jpg -text
content/diagrams/design-flow.jpg -text
content/diagrams/high-level-full-flow.jpg -text
content/diagrams/idea-concept-flow.jpg -text
content/diagrams/implement-and-test-flow.jpg -text
content/diagrams/implementation-review-and-commit-flow.jpg -text
content/diagrams/integration-and-system-test-flow.jpg -text
content/diagrams/phase-overview.jpg -text
content/diagrams/planning-and-review-flow.jpg -text
content/mr1/buildenv_feature.html -text
content/mr1/cldc_feature.html -text
content/mr1/client_feature.html -text
content/mr1/index_feature.html -text
content/mr1/options_feature.html -text
content/mr1/pcsl_feature.html -text
content/mr2/begin_feature.html -text
content/mr2/buildenv_feature.html -text
content/mr2/cldc_feature.html -text
content/mr2/client_feature.html -text
content/mr2/download_feature.html -text
content/mr2/index_feature.html -text
content/mr2/javacall_feature.html -text
content/mr2/pcsl_feature.html -text
content/mr2/phoneme_advanced_guide.html -text
content/mr2/pmAdv-buildhost.html -text
content/mr2/pmAdv-buildtarget.html -text
content/mr2/pmAdv-download.html -text
content/mr2/pmAdv-release.html -text
content/mr3/begin_feature.html -text
content/mr3/buildenv_feature.html -text
content/mr3/cldc_feature.html -text
content/mr3/client_feature.html -text
content/mr3/download_feature.html -text
content/mr3/index_feature.html -text
content/mr3/inst.css -text
content/mr3/javacall_feature.html -text
content/mr3/pcsl_feature.html -text
content/mr3/tigris.css -text
content/mr4/begin_feature.html -text
content/mr4/buildenv_feature.html -text
content/mr4/cldc_feature.html -text
content/mr4/client_feature.html -text
content/mr4/download_feature.html -text
content/mr4/index_feature.html -text
content/mr4/inst.css -text
content/mr4/javacall_feature.html -text
content/mr4/pcsl_feature.html -text
content/mr4/tigris.css -text
content/participate.html -text
content/phoneme_advanced_guide.html -text
content/phoneme_advanced_r1.html -text
content/phoneme_advanced_r2.html -text
content/phoneme_feature_guide.pdf -text svneol=unset#unset
content/phoneme_feature_r1.html -text
content/phoneme_feature_r2.html -text
content/phoneme_feature_r3.html -text
content/phoneme_feature_r4.html -text
content/phoneme_platforms.html -text
content/pmAdv-buildams.html -text
content/pmAdv-buildhost.html -text
content/pmAdv-buildtarget.html -text
content/pmAdv-download.html -text
content/pmAdv-release.html -text
/downloads_mr3_old.html -text
/downloads_page.html -text
/downloads_page_orange.html -text
/downloads_page_orange2.html -text
/downloads_page_orange3.html -text
/downloads_previous.html -text
/favicon.ico -text
images/car.duke.jpeg -text
images/cornerspaceCM3.jpg -text
images/download.gif -text
images/gradation-box-larger.png -text
images/gradation-box-short.png -text
images/gradation-box.png -text
images/pocketexp.jpg -text
images/projects.gif -text
images/srcbrowse.gif -text
images/vlingo.png -text
images/welcomePhoneME6.png -text
images/welcomePhoneME7-80pct.png -text
images/welcomePhoneME7.png -text
/index.html svneol=native#text/html
/license_mr4.txt -text
/licensing_page.html -text
/licensing_page_mr3_old.html -text
/opportunities.html -text
/phoneME-DesignatedExceptionModules.html -text
/phoneME_Project_BCL_07122007.txt -text
/phone_me_faq.html -text
/phoneme_vision.html -text
/project_tools.html -text
/submit_bug.html -text
